<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd 
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd 
        http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">
	<aop:aspectj-autoproxy />
	<mvc:annotation-driven>
		<!-- 预设的消息转换器 -->
		<mvc:message-converters>
			<beans:bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></beans:bean>
			<beans:bean
				class="org.springframework.http.converter.ByteArrayHttpMessageConverter"></beans:bean>
			<beans:bean
				class="org.springframework.http.converter.StringHttpMessageConverter"></beans:bean>
			<beans:bean
				class="org.springframework.http.converter.ResourceHttpMessageConverter"></beans:bean>
			<beans:bean
				class="org.springframework.http.converter.xml.SourceHttpMessageConverter"></beans:bean>
			<beans:bean
				class="org.springframework.http.converter.xml.XmlAwareFormHttpMessageConverter"></beans:bean>
		</mvc:message-converters>
		<!-- 入参预处理 -->
		<mvc:argument-resolvers>
			<beans:bean class="org.stt.module.framework.JsonDtoArgumentResolver">
			</beans:bean>
		</mvc:argument-resolvers>
		<!-- 返回值处理 -->
		<mvc:return-value-handlers>
			<beans:bean class="org.stt.module.framework.ResponseForJsonProcessor">
				<beans:property name="jsonConverter" ref="jsonConverter" />
				<beans:property name="encodeJsonConverter" ref="urlJsonConverter" />
			</beans:bean>
		</mvc:return-value-handlers>
	</mvc:annotation-driven>

	<beans:bean
		class="org.stt.module.framework.RequestMappingHandlerPostProcessor">
		<beans:property name="removedArgumentResolvers">
			<beans:list>
				<beans:value>org.springframework.web.method.annotation.MapMethodProcessor
				</beans:value>
			</beans:list>
		</beans:property>
		<beans:property name="removedReturnValueHandlers">
			<beans:list>
				<beans:value>org.springframework.web.servlet.mvc.method.annotation.ViewNameMethodReturnValueHandler
				</beans:value>
				<beans:value>org.springframework.web.method.annotation.ModelMethodProcessor
				</beans:value>
				<beans:value>org.springframework.web.method.annotation.MapMethodProcessor
				</beans:value>
			</beans:list>
		</beans:property>
	</beans:bean>

	<beans:bean id="jsonConverter"
		class="org.stt.module.framework.converter.JsonHttpMessageConverter"></beans:bean>
	<beans:bean id="base64JsonConverter"
		class="org.stt.module.framework.converter.Base64JsonHttpMessageConverter"></beans:bean>
	<beans:bean id="urlJsonConverter"
        class="org.stt.module.framework.converter.URLJsonHttpMessageConverter"></beans:bean>

	<!-- 拦截器 -->
	<mvc:interceptors>
		<bean class="org.stt.module.framework.FrameworkInterceptor">
		<property name="workActions">
		  <list>
		    <bean class="org.stt.module.framework.action.ValidateAction"></bean>
		  </list>
		</property>
		</bean>
		<!-- 拦截指定url -->
		<!-- <mvc:interceptor> 
		<mvc:mapping path="/home/do/*" /> 
		     <bean class="org.stt.module.framework.JsonInterceptor"></bean> 
	    </mvc:interceptor> -->
	</mvc:interceptors>
</beans>
